:root {
  --second-font-color: #555555;
  --interactive-background-color: #eeeeee;
  --active-option-color: #eccd18;
  --card-btn-color: #80c142;
  --light-gray-font-color: #828282;
  --gray-font-color: #5f5f5f;
  --border-gray-color: #bdbdbd;
}
