:root {
  --second-font-color: #555555;
  --white-font-color: white;
  --interactive-background-color: #eeeeee;
  --active-option-color: #eccd18;
  --card-btn-color: #80c142;
  --light-gray-font-color: #828282;
  --gray-font-color: #5f5f5f;
  --border-gray-color: #bdbdbd;
  --orange-color: rgb(240, 150, 16);
  --promo-font-color: #333333;
  --underline-color: #c4c4c4;
  --red-btn-color: rgb(244, 5, 14);
  --btn-white-hover-color: white;
}
