/* You can add global styles to this file, and also import other style files */

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

@import url(./_reset.scss);
@import url(./margins.scss);
@import url(./_variables.scss);
@import url(./fonts.scss);

body {
  overflow-x: hidden;
  font-family: "Open Sans";
}
.in {
  width: 1280px;
  margin: 0 auto;
}
.dishes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 40px;
  color: var(--second-font-color);
}
.rouble {
  font-family: "Rouble";
}
.btn {
  background-color: var(--card-btn-color);
  border-radius: 20px;
  height: 44px;
  cursor: pointer;
  padding: 9px 0 11px 0px;
  color: white;
  &--red {
    background-color: var(--red-btn-color);
    color: var(--white-font-color);
    font-style: 18px;
    font-weight: 700;
    padding: 19px 0;
    width: 251px;
    border-radius: 40px;
  }
}
.btn:hover {
  background-color: white;
  color: var(--card-btn-color);
  border: 1px solid var(--card-btn-color);
}

.plus-one-btn {
  background-image: url(/assets/images/icons/i_plus_grey.png);
}
.minus-one-btn {
  background-image: url(/assets/images/icons/minus.png);
}
.plus-one-btn:hover {
  background-image: url(/assets/images/icons/i_plus_orange.png);
}
.minus-one-btn:hover {
  background-image: url(/assets/images/icons/i_minus_orange.png);
}
.link {
  text-decoration: underline;
}

.items_list app-item-card:first-child .item {
  border: none;
}

.bottom-underline {
  height: 1px;
  background-color: var(--underline-color);
  margin-top: 50px;
}

@media (max-width: 1310px) {
  .in {
    width: 1000px;
  }
}
