/* You can add global styles to this file, and also import other style files */

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

@import url(./_reset.scss);
@import url(./margins.scss);
@import url(./_variables.scss);
@import url(./fonts.scss);

body {
  overflow-x: hidden;
  font-family: "Open Sans";
}
.in {
  width: 1280px;
  margin: 0 auto;
}
.dishes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 0 20px;
}

.btn {
  background-color: var(--card-btn-color);
  border-radius: 20px;
  height: 42px;
  cursor: pointer;
  padding: 9px 0 11px 0px;
  color: white;
  &--red {
    background-color: var(--red-btn-color);
    color: var(--white-font-color);
    font-style: 18px;
    font-weight: 700;
    padding: 19px 0;
    width: 251px;
    border-radius: 40px;
    border: 3px solid red;
  }
  &--red:hover {
    background-color: var(--btn-white-hover-color);
    color: var(--red-btn-color);
    border: 3px solid red;
  }
}
.btn:hover {
  background-color: white;
  color: var(--card-btn-color);
  border: 1px solid var(--card-btn-color);
}
.disabledBtn {
  opacity: 0.6;
  pointer-events: none;
}
.plus-one-btn {
  background-image: url(/assets/images/icons/i_plus_grey.png);
}
.minus-one-btn {
  background-image: url(/assets/images/icons/minus.png);
}
.plus-one-btn:hover {
  background-image: url(/assets/images/icons/i_plus_orange.png);
}
.minus-one-btn:hover {
  background-image: url(/assets/images/icons/i_minus_orange.png);
}
.plus-one-btn,
.minus-one-btn {
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.items_list app-item-card:first-child .item {
  border: none;
}

.bottom-underline {
  height: 1px;
  background-color: var(--underline-color);
  margin-top: 50px;
}

.title {
  text-align: center;
  font-size: 40px;
  color: var(--second-font-color);
}
.rouble {
  font-family: "Rouble";
}
.text {
  display: inline;
}
.h3 {
  font-size: 28px;
  font-weight: 600;
}
.h4 {
  font-size: 16px;
  color: var(--second-font-color);
  font-weight: normal;
}
.fs45px {
  font-size: 45px;
}

.checkbox-cont {
  position: relative;
  cursor: pointer;
  user-select: none;
  &::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 4px;
    width: 17px;
    height: 17px;
    border: 1px solid #999;
    border-radius: 50%;
    background: white;
  }
  &.checked::before {
    background-image: url(/assets/images/icons/check-red.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.ref-red {
  color: red;
  text-decoration: underline;
}

@media (max-width: 1310px) {
  .in {
    width: 1000px;
  }
}
