<div class="header-wrap">
  <div class="header-baner" [class.no-background]="hideBackground">
    <div class="in">
      <div class="header-container">
        <div class="header-info">
          <div class="left-section">
            <div class="header_adress-title">Доставка пиццы Димитровград</div>
            <ul>
              <li>Вс - чт: с 10:00 до 22:00</li>
              <li>Пт - сб: с 10:00 до 22:30</li>
            </ul>
          </div>
          <a class="header-logo" href="#"> </a>
          <div class="header-phone-number">
            <a class="hf_1" href="#">+7 902 127-77-72</a>
            <a class="hf_2" href="#">4-04-77</a>
          </div>

          <div class="header_minicart">
            <div class="header_reg_login">
              <a routerLink="/login" routerLinkActive="active">Вход</a>
            </div>
            <a
              class="minicart_info"
              routerLink="/cart"
              routerLinkActive="active"
            >
              <div class="mc_icon">
                <div class="mc_count">{{ totalQuantity$ | async }}</div>
              </div>
              <div class="mc_total_cost_wrap">
                <div class="mc_total_cost">
                  <span>{{ totalCost$ | async }}</span>
                  <span class="rouble"> i</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="header_menu">
          <ul class="menu-box">
            <a routerLink="/menu/pizzas" routerLinkActive="active">Пиццы</a>
            <a routerLink="/menu/sloeny" routerLinkActive="active">Слоёные</a>
            <a routerLink="/menu/rimskay" routerLinkActive="active">Римская</a>
            <a routerLink="/menu/snaks" routerLinkActive="active">Закуски</a>
            <a routerLink="/menu/salad" routerLinkActive="active">Салаты</a>
            <a routerLink="/menu/deserts" routerLinkActive="active">Десерты</a>
            <a routerLink="/menu/drink" routerLinkActive="active">Напитки</a>
            <a routerLink="/menu/hot-drinks" routerLinkActive="active"
              >Горячие Напитки</a
            >
            <a routerLink="/promo" routerLinkActive="active">Акции</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
