<div class="header-wrap">
  <div class="header-baner" [class.no-background]="hideBackground">
    <div class="in">
      <div class="header-container">
        <div class="header-info">
          <div class="left-section">
            <div class="header_adress-title">Доставка пиццы Димитровград</div>
            <ul>
              <li>Вс - чт: с 10:00 до 22:00</li>
              <li>Пт - сб: с 10:00 до 22:30</li>
            </ul>
          </div>
          <a class="header-logo" href="#"> </a>
          <div class="header-phone-numbers">
            <p class="phone-number-one">+7 902 127-77-72</p>
            <p class="phone-number-two">4-04-77</p>
          </div>

          <div class="header_minicart">
            <div class="header_reg_login">
              <a
                class="enter-link"
                routerLink="/login"
                routerLinkActive="active"
                >Вход</a
              >
            </div>
            <a
              class="minicart_info"
              routerLink="/cart"
              routerLinkActive="active"
            >
              <div class="mc_icon">
                <div class="mc_count">{{ totalQuantity$ | async }}</div>
              </div>
              <div class="mc_total_cost_wrap">
                <div class="mc_total_cost">
                  <span>{{ totalCost$ | async }}</span>
                  <span class="rouble"> i</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="header_menu">
          <ul class="menu-box">
            <a
              class="header-link"
              routerLink="/menu/pizzas"
              routerLinkActive="active"
              >Пиццы</a
            >
            <a
              class="header-link"
              routerLink="/menu/sloeny"
              routerLinkActive="active"
              >Слоёные</a
            >
            <a
              class="header-link"
              routerLink="/menu/rimskay"
              routerLinkActive="active"
              >Римская</a
            >
            <a
              class="header-link"
              routerLink="/menu/snaks"
              routerLinkActive="active"
              >Закуски</a
            >
            <a
              class="header-link"
              routerLink="/menu/salad"
              routerLinkActive="active"
              >Салаты</a
            >
            <a
              class="header-link"
              routerLink="/menu/deserts"
              routerLinkActive="active"
              >Десерты</a
            >
            <a
              class="header-link"
              routerLink="/menu/drink"
              routerLinkActive="active"
              >Напитки</a
            >
            <a
              class="header-link"
              routerLink="/menu/hot-drinks"
              routerLinkActive="active"
              >Горячие Напитки</a
            >
            <a class="header-link" routerLink="/promo" routerLinkActive="active"
              >Акции</a
            >
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
