<h2 class="title">Выберите акцию</h2>
<div class="promo-wrapper">
  <fieldset class="promo">
    <div>
      <label
        class="promo__main-label"
        [class.checked]="promoSelected"
        (click)="togglePromo()"
      >
        <p class="promo__text">
          Напиток в подарок <br /><span class="promo__small"
            >*Напиток по акции кладется тот что есть в наличии</span
          >
        </p>
      </label>
    </div>

    <ng-container *ngIf="promoSelected">
      <div class="promo__options">
        <label
          (click)="selectDrink(Drink.cola)"
          [class.checked]="selectedDrink === Drink.cola"
          class="promo__label"
        >
          Добрый cola </label
        ><br />
        <label
          (click)="selectDrink(Drink.orange)"
          [class.checked]="selectedDrink === Drink.orange"
          class="promo__label"
        >
          Добрый Апельсин </label
        ><br />
        <label
          (click)="selectDrink(Drink.lemon)"
          [class.checked]="selectedDrink === Drink.lemon"
          class="promo__label"
        >
          Добрый Лимон-Лайм </label
        ><br />
      </div>
    </ng-container>
  </fieldset>
</div>
