<app-page-title [title]="'Корзина'"></app-page-title>
<div class="in">
  <ng-container *ngIf="(items$ | async)?.length !== 0">
    <div class="items_list">
      <ng-container *ngFor="let item of items$ | async">
        <app-item-card
          [item]="item"
          (addPizza)="addPizza($event)"
          (deleteItem)="deleteItem($event)"
          (minusOneOfCart)="minusOneItem($event)"
          (showModal)="toggleSauceModal()"
        ></app-item-card>
      </ng-container>
    </div>
    <app-sliders></app-sliders>
    <app-promo></app-promo>
  </ng-container>
  <ng-container *ngIf="(items$ | async)?.length === 0">
    <div class="empty-items-list">Корзина пуста</div>
  </ng-container>
  <ng-container *ngIf="(items$ | async)?.length !== 0">
    <div class="summary-holder">
      <h2 class="cost-summary">
        Итого: <span class="total-cost">{{ totalCost$ | async }}</span
        ><span class="rouble fs45px">i</span>
      </h2>
    </div>
    <app-create-order class="mt20"></app-create-order>
  </ng-container>
  <div class="bottom-underline"></div>
</div>
<ng-container *ngIf="modalVisible$ | async">
  <app-modal (closeModal)="toggleSauceModal()"></app-modal>
</ng-container>
