<app-page-title [title]="'Корзина'"></app-page-title>
<div class="in">
  <div class="items_list">
    <div class="item">
      <div class="item__img">
        <img
          class="item__img-content"
          src="/assets/images/dishes/pizz-images/capriccio-preview.jpg"
          alt="пицца"
        />
      </div>
      <div class="item__info">
        <div class="item__title">Capriccio</div>
        <div class="item__main">
          <div class="item__text">40 см, Традиционное</div>
          <div class="item__souse">
            Соусы: <span class="item__souse-name">Кетчуп томатный</span>
          </div>
        </div>
      </div>
      <div class="item__summary">
        <div class="plus-one-btn"></div>
        <div class="item__quantity">1</div>
        <div class="minus-one-btn"></div>

        <div class="item__cost">740 <span class="rouble">i</span></div>
        <div class="item__delete-btn"></div>
      </div>
    </div>
    <div class="item">
      <div class="item__img">
        <img
          class="item__img-content"
          src="/assets/images/dishes/pizz-images/capriccio-preview.jpg"
          alt="пицца"
        />
      </div>
      <div class="item__info">
        <div class="item__title">Capriccio</div>
        <div class="item__main">
          <div class="item__text">40 см, Традиционное</div>
          <div class="item__souse">
            Соусы: <span class="item__souse-name">Кетчуп томатный</span>
          </div>
        </div>
      </div>
      <div class="item__summary">
        <div class="plus-one-btn"></div>
        <div class="item__quantity">1</div>
        <div class="minus-one-btn"></div>

        <div class="item__cost">740 <span class="rouble">i</span></div>
        <div class="item__delete-btn"></div>
      </div>
    </div>
    <div class="item">
      <div class="item__img">
        <img
          class="item__img-content"
          src="/assets/images/dishes/pizz-images/capriccio-preview.jpg"
          alt="пицца"
        />
      </div>
      <div class="item__info">
        <div class="item__title">Capriccio</div>
        <div class="item__main">
          <div class="item__text">40 см, Традиционное</div>
          <div class="item__souse">
            Соусы: <span class="item__souse-name">Кетчуп томатный</span>
          </div>
        </div>
      </div>
      <div class="item__summary">
        <div class="plus-one-btn"></div>
        <div class="item__quantity">1</div>
        <div class="minus-one-btn"></div>

        <div class="item__cost">740 <span class="rouble">i</span></div>
        <div class="item__delete-btn"></div>
      </div>
    </div>
  </div>
</div>

<app-sliders></app-sliders>
