<div class="modal">
  <p class="modal__title">
    Выберите соус для корочек.
    <ng-container *ngIf="productQuantity > 1">
      <span
        >У вас <span class="modal__pick">{{ freePick }}</span> бесплатных
        соусов</span
      >
    </ng-container>
  </p>
  <img
    (click)="onCloseModal()"
    class="modal__close"
    src="assets/images/icons/close_sauce-select.png"
    alt=""
  />
  <div class="modal__sauces-cont">
    <ng-container *ngFor="let sauce of sauces">
      <div class="modal__sauce">
        <img
          class="modal__image"
          src="assets/images/dishes/souses/souse-{{ sauce.id }}.jpg"
        />
        <ng-container *ngIf="productQuantity <= 1">
          <label class="modal__custom-checkbox">
            <p class="modal__sauce-name">{{ sauce.name }}</p>
            <input
              class="modal__input"
              type="checkbox"
              [checked]="sauce.count >= 1"
              (change)="onSelectSauce(sauce)"
            />
            <span class="modal__checkmark"></span>
          </label>
        </ng-container>

        <ng-container *ngIf="productQuantity > 1">
          <p class="modal__sauce-name">{{ sauce.name }}</p>
          <div class="modal__pick-controller">
            <div class="plus-one-btn" (click)="addOneSauce(sauce.id)"></div>
            <div class="pickedQuantity">{{ sauce.count }}</div>
            <div class="minus-one-btn" (click)="removeOneSauce(sauce.id)"></div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
