<app-page-title [title]="'Все акции'"></app-page-title>
<div class="in">
  <div class="promo">
    <p>
      Цены и акции действительны только на доставку при единовременном заказе на
      один адрес.
    </p>
    <h2 class="h3 mt20">
      Скидки и акции не суммируются. Действуют только на доставку. Подробности
      уточняйте у оператора.
    </h2>

    <div class="promo-card-cont">
      <div class="promo__card">
        <div class="image">
          <img
            src="../../../assets/images/promo-page/promo_1.jpg"
            alt="promo"
            class="promo__image"
          />
        </div>
        <div class="shares_date">до 25.07.2025</div>
        <div class="name">-10% при оплате в приложении</div>
        <p>
          Делая заказы через наше приложение, вы получаете скидку 10% на весь
          ассортимент!*
        </p>
        <p>
          Оформить заказ необходимо ТОЛЬКО через наше приложение Cagliari и
          обязательно оплатить его online.
        </p>
        <p>*скидка не распространяется на сувенирную продукцию</p>
      </div>
      <div class="promo__card">
        <div class="image">
          <img
            src="../../../assets/images/promo-page/promo_2.jpg"
            alt="promo"
            class="promo__image"
          />
        </div>
        <div class="shares_date">до 25.07.2025</div>
        <div class="name">Скидка 10%</div>
        <p>при заказе от 3-х-пицц-скидка 10%</p>
        <p>*Действует только на доставку</p>
      </div>
      <div class="promo__card">
        <div class="image">
          <img
            src="../../assets/images/promo-page/promo_3.jpg"
            alt="promo"
            class="promo__image"
          />
        </div>
        <div class="shares_date">до 25.07.2025</div>
        <div class="name">Напиток в подарок</div>
        <p>При заказе 2-х пицц - напиток в подарок!</p>
        <p>*Действует только на доставку</p>
      </div>
      <div class="promo__card">
        <div class="image">
          <img
            src="../../../assets/images/promo-page/promo_4.jpg"
            alt="promo"
            class="promo__image"
          />
        </div>
        <div class="shares_date">до 25.07.2025</div>
        <div class="name">Скидка на предварительный заказ</div>
        <p>
          приПри предварительном заказе (НЕ МЕНЕЕ, чем за 4 ЧАСА до доставки) -
          СКИДКА 5%.
        </p>
        <p>*Действует только на доставку</p>
      </div>
      <div class="promo__card">
        <div class="image">
          <img
            src="../../../assets/images/promo-page/promo_5.jpg"
            alt="promo"
            class="promo__image"
          />
        </div>
        <div class="shares_date">до 25.07.2025</div>
        <div class="name">У вас День Рождения?</div>
        <p>Тогда мы ПОДАРИМ Вам СКИДКУ 10% при любом заказе!</p>
        <p>
          <strong>Внимание!</strong> Требуется предоставить оригинал документа,
          удостоверяющий личность и дату рождения.
        </p>
      </div>

      <div class="promo__card"></div>
    </div>
  </div>
</div>
