.login-wrap {
  width: 400px;
  margin: 0 auto;
}
.form {
  &__section {
    display: block;
    position: relative;
  }
  &__input {
    border: 1px solid var(--underline-color);
    border-radius: 30px;
    width: 390px;
    height: 50px;
    padding-left: 30px;
  }
  &__label {
    display: block;
    text-align: center;
    color: var(--second-font-color);
    font-size: 16px;
  }
  &__btn {
    display: block;
    margin: 0 auto;
  }
}

.svg-eye-btn {
  position: absolute;
  right: 20px;
  top: 43px;
  cursor: pointer;
}
.invisiblePassword {
  fill: rgba(74, 77, 73, 0.548);
}
.visiblePassword {
  fill: rgba(14, 13, 13, 0.836);
}
