<div class="top_footer_wrap">
    <div class="footer_left">
      <div class="footer_logo"></div>
      <div class="footer_buttons"></div>
      <button class="btn btn_one">Написать директру</button>
      <button class="btn">Проверить заказ</button>
    </div>
    <div class="footer_left_midle">
      <div class="title">Меню</div>
      <ul>
        <li><a href="#">Пиццы</a></li>
        <li><a href="#">Солёные</a></li>
        <li><a href="#">Римская</a></li>
        <li><a href="#">Постное</a></li>
        <li><a href="#">Роллы</a></li>
        <li><a href="#">Закуски</a></li>
        <li><a href="#">Салатес</a></li>
        <li><a href="#">Десерты</a></li>
        <li><a href="#">Напитки</a></li>
        <li><a href="#">Горячие напитки</a></li>
        <li><a href="#">Детское</a></li>
        <li><a href="#">Сувениры</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Инструкции</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Оплата/Доставка</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
    <div class="footer_right_midle">
      <div class="right_midle_title">Сделать заказ</div>
      <div class="phone_footer_one">4-04-77</div>
      <div class="phone_footer_two">+7 902 127-77-72</div>
      <div class="footer_adress">
        г. Димитровград ,ул.Севостопольская
        <br />
        <br />
        <b>Реквизиты:</b>
        <br />
        ИП Борисова Д.А.
        <br />
        <br />
        ОГРН: 322730000015324
        <br />
        ИНН:73202068926241
      </div>
      <div class="work_time_footer">
        <div class="clock_footer"></div>
        <ul>
          <li>ВС - чт:С 10:00 до 22:00</li>
          <li>Пт - сб:С 10:00 до 22:30</li>
        </ul>
      </div>
      <div class="partners">
        <b>Партнёры:</b>
        <br />
        <br />
        <a href="#">ОГБПОУ ДТПТ</a>
      </div>
    </div>
    <div class="footer_right">
      <div class="follow">Следите за нами</div>
      <div class="wk"></div>
      <div class="presuade">скачивайте приложение в</div>
      <div class="download_btns">
        <a class="db_one" href="#"></a>
        <a class="db_two" href="#"></a>
      </div>
    </div>
  </div>