:host {
  display: block;
  width: 100%;
}

$assets-path: "../../../../assets/";
.footer-holder {
  width: fit-content;
  margin: 0 auto;
}
.top_footer_wrap {
  height: 700px;
  max-width: 1280px;
}
.footer_left {
  margin-top: 40px;
  float: left;
}
.footer_logo {
  background-image: url(#{$assets-path}images/footer-logo.png);
  width: 151px;
  height: 191px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 40px 60px;
}
.btn {
  display: block;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid red;
  color: red;
  font-size: 20px;
  border-radius: 30px;
}
.btn:hover {
  background-color: red;
  color: white;
}
.btn:active {
  background-color: white;
  border: none;
  color: red;
}
.btn_one {
  margin-bottom: 20px;
}

/* footer left-side  */
.footer_left_midle .title {
  font-size: 26px;
}
.footer_left_midle {
  float: left;
  margin: 40px 0 0 90px;
  width: 190px;
}
.footer_left_midle ul {
  margin: 10px 0;
  padding: 0 0 0 15px;
  font: 20px;
  font-weight: normal;
}
.footer_left_midle li {
  margin-bottom: 15px;
}
.footer_left_midle a {
  color: black;
}
/* right_midle section  */
.footer_right_midle {
  margin: 40px 0 0 50px;
  left: 40px;
  width: 300px;
  float: left;
}
.right_midle_title {
  font-size: 30px;
  margin-bottom: 25px;
}
.phone_footer_one {
  background-image: url(#{$assets-path}images/phone-footer.png);
  background-repeat: no-repeat;
  font-size: 25px;
  font-weight: 600;
  padding-left: 30px;
}
.phone_footer_two {
  background-image: url(#{$assets-path}images/mobile-footer.png);
  background-repeat: no-repeat;
  font-size: 25px;
  font-weight: 600;
  padding-left: 30px;
}

.footer_adress {
  padding-left: 33px;
  background-image: url(#{$assets-path}images/map-pointer-footer.png);
  background-position: center left;
  background-repeat: no-repeat;
  line-height: 33px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.work_time_footer {
  background-image: url(#{$assets-path}images/footer-clock.png);
  background-repeat: no-repeat;
}
.work-hours {
  padding-left: 30px;
}
.partners {
  margin-top: 30px;
  margin-left: 30px;
}
/* making right part of the footer  */
.footer_right {
  float: left;
  margin-top: 50px;
}
.follow {
  font-size: 25px;
}
.wk {
  background-image: url(#{$assets-path}images/vk.png);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain !important;
  width: 41px;
  height: 41px;
  margin: 50px 0 50px 10px;
}

.wk:hover {
  background-image: url(#{$assets-path}images/vk2.png);
}
.download_btn {
  height: 100px;
}

.db_one {
  background-image: url(#{$assets-path}images/i-appstore.png);
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  background-size: contain;
  display: block;
  float: left;
}

.db_two {
  background-image: url(#{$assets-path}images/i-googleplay.png);
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  background-size: contain;
  display: block;
  float: left;
}

.footer-bottom {
  border-top: 1px solid rgb(158, 157, 157);
  color: rgb(87, 87, 87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.footer-holder .footer-link:hover {
  color: red;
}
.metrika {
  width: 50px;
  height: 40px;
  background-image: url(#{$assets-path}images/metrika.jpg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .footer_right {
    float: left;
    margin-top: 50px;
  }
  .footer_right_midle {
    margin: 10px 0 0 20px;
    left: 40px;
    width: 250px;
    float: left;
  }
  .footer_left {
    margin-top: 40px;
    float: left;
  }
  .footer_left_midle {
    float: left;
    margin: 10px 0 0 30px;
    width: 190px;
  }
}

@media (max-width: 1100px) {
}
