<div class="categories_container">
  <div class="categories">
    <a routerLink="menu/pizzas" routerLinkActive="active" class="item_1 item"
      >Пиццы</a
    >
    <a routerLink="menu/snaks" routerLinkActive="active" class="item_2 item"
      >Горячие Закуски</a
    >
    <a routerLink="menu/salad" routerLinkActive="active" class="item_3 item"
      >Салаты</a
    >
    <a routerLink="menu/deserts" routerLinkActive="active" class="item_4 item"
      >Десерты</a
    >
    <a routerLink="menu/drink" routerLinkActive="active" class="item_5 item"
      >Напитки</a
    >
  </div>
</div>
<div class="short_info_wrap">
  <div class="in">
    <div class="left_short">
      <div class="short_info_1">
        <div class="short_image"></div>
        <div class="short_desc">
          <div class="short_desc_title">Доставка</div>
          <ul>
            <li>Доставка пиццы по городу - <span>Бесплатно</span></li>
            <li>Доставка на сумму менее <span>400 руб. - 100 руб.</span></li>
            <li>
              Доставка на дачный поселок -
              <span>70 руб.</span>
            </li>
            <li>Доставка на торфболото - <span>70 руб.</span></li>
          </ul>
        </div>
      </div>
      <div class="short_info_2">
        <div class="short_image"></div>
        <div class="short_desc">
          <div class="short_desc_title">Быстрая доставка</div>
          <ul>
            <li>Доставим ваш заказ в течени часа</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right_short">
      <div class="short_info_3">
        <div class="short_image"></div>
        <div class="short_desc">
          <div class="short_desc_title">Оплата</div>
          <ul>
            <li>Наличными или по карте курьеру</li>
            <li>On-line оплата на сайте</li>
          </ul>
        </div>
      </div>
      <div class="short_info_4">
        <div class="short_image"></div>
        <div class="short_desc">
          <div class="short_desc_title">Приходите в кафе</div>
          <ul>
            <li>ул.Севастопольская,2 (ТЦ "Астра")</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
