<app-page-title
  (searchChange)="searchProducts($event)"
  [title]="title"
  [showSearch]="true"
></app-page-title>
<div class="dishes-container">
  <ng-container *ngIf="!filteredProducts">
    <ng-container *ngIf="products$ | async as products">
      <!-- All products with all categories -->
      <ng-container *ngFor="let product of products | formatData">
        <ng-container *ngIf="product.category === category">
          <app-dish-card
            (addedToCart)="addToCart(product, arrayIndex)"
            [product]="product"
            [folder]="category"
            [currentPageIndex]="arrayIndex"
            (choseSize)="choseSize($event)"
          ></app-dish-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="filteredProducts">
    <ng-container *ngFor="let product of filteredProducts">
      <app-dish-card
        (addedToCart)="addToCart(product, arrayIndex)"
        [product]="product"
        [folder]="category"
        [currentPageIndex]="arrayIndex"
        (choseSize)="choseSize($event)"
      ></app-dish-card>
    </ng-container>
  </ng-container>
</div>
