<ng-container *ngIf="item">
  <div class="item">
    <div class="item__img">
      <img
        class="item__img-content"
        src="assets/images/dishes/{{ item.category }}/{{
          item.images.preview
        }}.jpg"
        alt="пицца"
      />
    </div>
    <div class="item__info">
      <div class="item__title">{{ item.name }}</div>
      <div class="item__main">
        <ng-container *ngIf="item.size">
          <div class="item__text">{{ item.size }}, {{ item.doughType }}</div>
        </ng-container>
        <ng-container
          *ngIf="
            item.category === 'snaks' ||
            item.category === 'pizzas' ||
            item.category === 'rimskay' ||
            item.category === 'sloeny'
          "
        >
          <div class="item__souse">
            Соусы:
            <span (click)="selectSauce()" class="item__souse-name">{{
              sauceNames
            }}</span>
          </div>
          <ng-container *ngIf="!sauceNames">
            <span (click)="selectSauce()" class="item__souse-name"
              >выбрать соус</span
            >
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="item__summary">
      <div class="plus-one-btn" (click)="onAddPizza()"></div>
      <div class="item__quantity">{{ item.quantity }}</div>
      <div class="minus-one-btn" (click)="onMinusOneOfCart()"></div>

      <div class="item__cost">
        {{ item.price }} <span class="rouble">i</span>
      </div>
      <div class="item__delete-btn" (click)="onDeleteItem()"></div>
    </div>
  </div>
</ng-container>
