<h1 class="title mb20">{{ title }}</h1>

<ng-container *ngIf="showSearch">
  <div class="search-container">
    <input
      #searchInput
      (blur)="clearInput()"
      (input)="onInput($event)"
      name="search"
      type="text"
      class="search-input"
    />
    <img
      class="search-icon"
      src="assets/images/search-icon.png"
      alt=""
      (click)="focusInput()"
    />
  </div>
</ng-container>

<ng-container *ngIf="!showSearch">
  <div class="breadcrumbs">
    <a class="breadcrumb link" routerLink="" routerLinkActive="active"
      >Главная</a
    >
    <span class="separator-icon"></span>
    <ng-container *ngIf="breadCrumb === 'cart'">
      <span class="breadcrumb">Корзина</span>
    </ng-container>
    <ng-container *ngIf="breadCrumb === 'login'">
      <span class="breadcrumb">Вход</span>
    </ng-container>
    <ng-container *ngIf="breadCrumb === 'promo'">
      <span class="breadcrumb">Все акции</span>
    </ng-container>
    <ng-container *ngIf="breadCrumb === 'order'">
      <span [routerLink]="['/cart']" class="breadcrumb link">Корзина</span>
      <span class="separator-icon"></span>
      <span class="breadcrumb">Оформление заказа</span>
    </ng-container>
  </div>
</ng-container>
