<h1 class="title mb20">{{ title }}</h1>

<ng-container *ngIf="showSearch">
  <div class="search-container">
    <input name="search" type="text" class="search-input" />
    <img class="search-icon" src="/assets/images/search-icon.png" alt="" />
  </div>
</ng-container>

<ng-container *ngIf="!showSearch">
  <div class="breadcrumbs">
    <a class="breadcrumb link" routerLink="" routerLinkActive="active"
      >Главная</a
    >
    <span class="separator-icon"></span>
    <ng-container *ngIf="breadCrumb === 'cart'">
      <span class="breadcrumb">Корзина</span>
    </ng-container>
    <ng-container *ngIf="breadCrumb === 'login'">
      <span class="breadcrumb">Вход</span>
    </ng-container>
    <ng-container *ngIf="breadCrumb === 'promo'">
      <span class="breadcrumb">Все акции</span>
    </ng-container>
  </div>
</ng-container>
