.search-container {
  border-bottom: 1px solid rgb(161, 161, 161);
  width: 630px;
  height: 35px;
  margin: 0 auto 50px;
  position: relative;
}
.search-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30px;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.breadcrumbs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 18px;
  color: var(--light-gray-font-color);
}
.separator-icon {
  background-image: url(/assets/images/icons/separator.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 24px;
}
