<div>
  <div class="card-img">
    <img src="/assets/images/dishes/pizz-imgs/pizz-1.jpg" alt="">  
  </div>
  <h2 class="card-title">{{ product.title }}</h2>
</div>
<div class="recipe">{{ product.recepie }}</div>
<div class="bottom-card">
    <div class="size-choose">
      <p class="option not-available">30см</p>
      <p class="option active-opt">40см</p>
      <p class="option">60см</p>
    </div>
    ??????
    <div class="dough-choose">
      <p class="option active-opt">Традиционное</p>
      <p class="option" >Толстое</p>
    </div>
  <div class="card-summary">
    <span class="cost">{{ product.cost }}</span>
    <span class="weight">{{ product.weight }}</span>
    <div class="half-choose">1/2</div>
  </div>
  <button class="btn">В карзину</button>
</div>