<ng-container *ngIf="product">
  <div>
    <div class="card-img">
      <img
        src="/assets/images/dishes/{{ folder }}/{{
          product.images.preview
        }}.jpg"
        alt=""
      />
    </div>
    <h2 class="card-title">{{ product.name }}</h2>
  </div>
  <div class="recipe">{{ product.description }}</div>
  <div class="bottom-card">
    <div class="size-choose">
      <p
        *ngFor="let size of product.sizes; let i = index"
        class="option"
        [ngClass]="{
          'not-available': !size.available,
          'active-opt': size.active
        }"
      >
        {{ size.size }}
      </p>
    </div>

    <div
      class="dough-choose"
      [ngClass]="{
        hidden:
          !product.doughTypes[0].available && !product.doughTypes[1].available
      }"
    >
      <p
        class="option"
        [ngClass]="{
          'active-opt': product.doughTypes[0].active,
          'not-available': !product.doughTypes[0].available
        }"
      >
        Традиционное
      </p>
      <p
        class="option"
        [ngClass]="{
          'active-opt': product.doughTypes[1].active,
          'not-available': !product.doughTypes[1].available
        }"
      >
        Толстое
      </p>
    </div>

    <div class="card-summary">
      <span class="cost">{{ product.price }} Р</span>
      <span class="weight">{{ product.weight }}</span>
      <div class="half-choose">1/2</div>
    </div>
    <button class="btn" (click)="onAddToCart()">В корзину</button>
  </div>
</ng-container>
